.main-slider {
	padding: 0 2.5em;
}

.main-slider img {
	filter: brightness(50%);
	width: 100%;
}

.main-slider .notes {
	padding: 1em;
	position: absolute;
	bottom: 0;
	width: 13.75%;
	text-align: right;
}

.main-slider .notes h3 {
	font-size: 1.75em;
}

.main-slider .notes p {
	font-size: 1.25em;
	color: white;
}

.features {
	display: flex;
	justify-content: space-around;
}

.features .features-item span {
	display: block;
}

.features .features-item span:first-child {
	font-size: 3em;
	color: #FF00FF;
	border-bottom: 5px solid #FF00FF;
}

.features .features-item span:last-child {
	font-size: 1.25em;
	margin-top: .25em;
	color: white;
}

.gallery img {
	width: 100%;
}

.gallery .gallery-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em .5em;
}

.gallery .gallery-btns a {
	color: white;
	text-decoration: underline;
	display: flex;
	align-items: center;
}

.gallery .gallery-btns a:hover {
	text-decoration: none;
	color: #FF00FF;
}

.gallery .gallery-btns a img {
	width: 1.5em;
	margin-right: .5em;
	margin-left: .5em;
}

.advantages {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.advantages .advantages-item {
	font-size: .75em;
	margin: 0 1em;
}

.advantages .advantages-item img {
	width: 5em;
}

.testimotials .testimotials-slide {
	padding: 2.5em 7.5em .5em 7.5em;
	outline: none;
}

.testimotials p {
	line-height: 1.5em;
	color: white;
}

.testimotials span {
	font-size: .75em;
	text-transform: uppercase;
	color: #FF00FF;
	font-weight: bold;
	display: block;
	margin-top: 2.5em;
}

.contact-form .form-group {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contact-form input[type="text"],
.contact-form input[type="phone"],
.contact-form textarea,
.contact-form input[type="submit"] {
	padding: 1em .5em;
	font-size: 1em;
	outline: none;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="phone"]:focus,
.contact-form textarea:focus {
	border-color: #FF00FF;
	color: #FF00FF;
}

.contact-form input[type="text"],
.contact-form input[type="phone"] {
	width: 40%;
	display: block;
	color: #505050;
	border: 1px solid #c3c3c3;
	margin-top: 1em;
}

.contact-form textarea {
	width: 100%;
	resize: none;
	height: 10em;
	border: 1px solid #c3c3c3;
	margin: 1em 0;
}

.contact-form input[type="submit"] {
	text-transform: uppercase;
	width: 100%;
	border: none;
	background-color: #FF00FF;
	opacity: .75;
	color: white;
	transition: .25s;
	margin-bottom: 1em;
	cursor: pointer;
}

.contact-form input[type="submit"]:hover {
	opacity: 1;
	text-decoration: underline;
}